@import url('https://fonts.googleapis.com/css?family=Sriracha');

body {
    background-color: #666666;
    margin: 0;
}
h1 {
    font-family: 'Sriracha', cursive;
    font-size: 45px;
    text-align: center;
    margin: 0;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #ccff66;
    font-family: 'Sriracha', cursive;
    font-size: 18px;
}

li {
    float: left;
}
li.center {float: center;}
li a {
    float: center;
    display: block;
    color: #666;
    text-align: center;
    padding: 5px;
    text-decoration: none;
}

li a:hover:not(.active) {
    font-family: 'Sriracha', cursive;
    background-color: #ddd;
}
p.PP1 {
    font-family: 'Itim', cursive;
    color: #ff6f69;
    text-align: center;
    font-size: 40px;
}
p.PP2 {
    font-family: 'Itim', cursive;
    color: #ffcc5c;
    text-align: center;
    font-size: 40px;
}

div.container{
    display: flex;
    width: 100%;
    background-color: lightgrey;
}

p.PP3 {
    font-family: 'Itim', cursive;
    color: #96ceb4;
    text-align: center;
    font-size: 40px;
}
.CenP {
    text-align: center;
}
.TTtable { 
    border: 1px solid #999999;
    border-collapse: collapse;
    width: 100%;
    padding: 5px;
}
.TRtable {
    background-color: #ccff33;
    
}
.THtable {
    padding: 5px;
}
.TDtable {
    padding: 5px;
    border: 1px solid #999999;
    text-align: center;
    background-color: #f2f2f2;
}
.TDCOtable {
    padding: 5px;
    border: 1px solid #999999;
    text-align: center;
    background-color: #8c8c8c;
    color: white;
}
.CMONtable {
    padding: 5px;
    border: 1px solid #999999;
    text-align: center;
    background-color: #ffff00;
}
.CTUEtable {
    padding: 5px;
    border: 1px solid #999999;
    text-align: center;
    background-color: #ff66cc;
}
.CWEDtable {
    padding: 5px;
    border: 1px solid #999999;
    text-align: center;
    background-color: #33cc33;
}
.CTHUtable {
    padding: 5px;
    border: 1px solid #999999;
    text-align: center;
    background-color: #ff9933;
}
.CFRItable {
    padding: 5px;
    border: 1px solid #999999;
    text-align: center;
    background-color: #3399ff;
}
.CSATtable {
    padding: 5px;
    border: 1px solid #999999;
    text-align: center;
    background-color: #cc00ff;
}

